:root {
    --body-color: #EEE;  
    --accent-color: #97f597;
    --light-n-blue: #CDD;
    --avatar-size: 80px;
    --smi-px: 5px;
    --m-px: 10px;
    --l-px: 15px;
    --xl-px: 20px;
    --xl-px: 25px;

}