@import url("../../node_modules/bulma/css/bulma.min.css");

:root {
    --body-color: #EFEFEF;
    --accent-color: #97f597;
    --light-n-blue: #CDD;
    --avatar-size: 80px;
    --xs-px: 2px;
    --sm-px: 5px;
    --m-px: 10px;
    --l-px: 15px;
    --xl-px: 20px;
    --xl-px: 25px;
    --category-card-size: 100px;
    --gutter: 20px;
    --task-item-size: 120px;
    --hig-color: hsl(348, 86%, 61%);
    --mid-color: hsl(48, 100%, 67%);
    --low-color: hsl(141, 53%, 53%);
    --purple: hsl(271, 100%, 71%);
    --blue: hsl(204, 71%, 53%);
    --light: rgba(0, 0, 0, 0.35);
    --fg-color: rgba(0, 0, 0, 0.750);
    --bg-color: #FFF;
    --purple-one: #753a88;
    --red-one: #cc2b5e;
    --main-bg: linear-gradient(45deg, var(--red-one), 45%, var(--purple-one));
    --input-bg: --purple-one;
    --input-fg: --fg-color;
}


.dark {
    --hig-color: hsl(348, 86%, 61%);
    --mid-color: hsl(48, 100%, 67%);
    --low-color: hsl(141, 53%, 53%);
    --purple: hsl(271, 100%, 71%);
    --blue: hsl(204, 71%, 53%);
    --light: rgba(0, 0, 0, 0.35);
    --fg-color: rgba(255, 255, 255, 0.75);
    --bg-color: #331e46;
    --purple-one: #331e46;
    --red-one: #684462;
    --input-bg: --red-one;
    --input-fg: white;
    --main-bg: linear-gradient(45deg, var(--red-one), 45%, var(--purple-one));
    --input-border: 1px solid var(--red-one);
}


.g-1-color {
    background-color: var(--low-color);
    color: var(--light);
}

.r-1-color {
    background-color: var(--hig-color);
    color: var(--light);
}

.b-1-color {
    background-color: var(--blue);
    color: var(--light);
}

.d-1-color {
    background-color: hsl(0, 0%, 29%);
    color: var(--light);
}

.p-1-color {
    background-color: var(--purple);
    color: var(--light);
}

.y-1-color {
    background-color: var(--mid-color);
    color: var(--light);
}

html {
    overflow: hidden !important;
}

body {
    background: var(--main-bg);
    width: 100%;
    height: 105vh;
}

input,
select,
textarea {
    background-color: var(--input-bg) !important;
    color: var(--input-fg) !important;
}


::placeholder {
    color: var(--input-fg) !important;
    opacity: 0.65;
}

:-ms-input-placeholder {
    color: var(--input-fg) !important;
    opacity: 0.65;
}

::-ms-input-placeholder {
    color: var(--input-fg) !important;
    opacity: 0.65;
}

* {
    transition: all 100ms ease;

}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: rgba(0, 0, 0, 0.20);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.50);
}

.dark .input, .dark select {
    border: var(--input-border) !important;
}